
 .p1{
     width: 100% ;
 }

 .video-title{
     margin-top: 0;
     font-size: 14px;
     font-weight: 500;
     line-height: 20px;
     margin-bottom: 10px;
 }
 .video-author,.video-status{
     font-size: 12px;
     color: rgb(96, 96, 96);
 }
 .video-author{
     margin-bottom: 4px;
 }
 .profile-picture{
     width: 36px;
     border-radius: 50px;
 }
 .thumnail-row{
    margin-bottom: 8px;
    position: relative; 
 }
 .video-grid-info{
     display: grid;
     grid-template-columns: 50px 1fr;
 }
 .video-all{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     column-gap: 16px;
     row-gap: 40px;
 }
 @media (max-width: 750px) {
    .video-all{
        grid-template-columns: 1fr 1fr;
    }
 }
 
  @media (min-width: 751px) and (max-width: 999px){
    .video-all{
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

 @media (min-width: 1000px){
    .video-all{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
 }

 .video-time{
    font-family: Roboto,arial;
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    border-radius: 2px;
    position: absolute;
    background-color: black;
    color: white;
    right: 5px;
    bottom: 8px;   
 }